<a href="https://colab.research.google.com/github/SapientSapiens/mlops-zoomcamp-2025/blob/main/homework/01/mlops_hw_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Question 1: Downloading the data

    We'll use the same NYC taxi dataset, but instead of "Green Taxi Trip Records", we'll use "Yellow Taxi Trip Records".

    Download the data for January and February 2023.

    Read the data for January. How many columns are there?

    16
    17
    18
    19

```
Getting the Yellow taxi Trip Records for January 2023
```

In [2]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet -O data/yellowtaxi_triprecords_2023-January.parquet

--2025-05-19 14:41:33--  https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 18.239.38.163, 18.239.38.181, 18.239.38.147, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|18.239.38.163|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 47673370 (45M) [application/x-www-form-urlencoded]
Saving to: ‘data/yellowtaxi_triprecords_2023-January.parquet’

data/yellowtaxi_tri 100%[===================>]  45.46M   276MB/s    in 0.2s

2025-05-19 14:41:33 (276 MB/s) - ‘data/yellowtaxi_triprecords_2023-January.parquet’ saved [47673370/47673370]

```
Getting the Yellow taxi Trip Records for February 2023
```

In [3]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet -O data/yellowtaxi_triprecords_2023-February.parquet

--2025-05-19 14:42:42--  https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 18.239.38.147, 18.239.38.163, 18.239.38.83, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|18.239.38.147|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 47748012 (46M) [application/x-www-form-urlencoded]
Saving to: ‘data/yellowtaxi_triprecords_2023-February.parquet’

data/yellowtaxi_tri 100%[===================>]  45.54M   175MB/s    in 0.3s

2025-05-19 14:42:43 (175 MB/s) - ‘data/yellowtaxi_triprecords_2023-February.parquet’ saved [47748012/47748012]

#### Importing the required libraries

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# from sklearn

#### Read the data for January

In [7]:
# read the data for January into a dataframe
df_Jan = pd.read_parquet('data/yellowtaxi_triprecords_2023-January.parquet')

In [9]:
# check size of the dataframe
df_Jan.shape[1]

19

#### So we see there are **19 columns** for thee data of January.